@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Outfit:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    
}

.card-container{
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:150px auto;
    color:hsl(0, 0%, 95%);
}

.card{
    padding:50px ;
    word-spacing: 0.6em;
    height:52vh;
}

.card:first-child{
    background: hsl(31, 77%, 52%);
    border-radius: 7px 0px 0px 7px;
    padding-right: 70px;
}

.card:nth-child(2){
    background:  hsl(184, 100%, 22%);
}

.card:last-child{
    background:  hsl(179, 100%, 13%);
    border-radius: 0px 7px 7px 0px;
}

.icon-wrapper{
    margin-bottom: 20px;
}

.title , button {
    color:hsl(0, 0%, 95%);
}

.title{
    margin: 35px 0;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Big Shoulders Display', cursive;
}

.description-wrapper{
    margin-bottom: 75px;
    line-height: 1.3em;
    word-spacing: 0em;
}

p{
    font-size: 15px;
}

button{
    width:130px;
    height:40px;
    border-radius: 30px;
    border:none;
    margin-bottom: 0px;
    font-weight: 700;
    cursor: pointer;
    transition:all 500ms ease-in-out;
}


button#one{
    color: hsl(31, 77%, 52%);
}

button#one:hover{
    background-color: hsl(31, 77%, 52%);
    color:hsl(0, 0%, 95%);
}

button#two{
    color: hsl(184, 100%, 22%);
    
}

button#two:hover{
    background-color: hsl(184, 100%, 22%);
    color:hsl(0, 0%, 95%);
}

button#three{
    color: hsl(179, 100%, 13%);
    margin-bottom: ;
}

button#three:hover{
    background-color: hsl(179, 100%, 13%);
    color:hsl(0, 0%, 95%);}
    
button:hover{
    border: 2px solid white;
}
    
button:hover{
    border: 2px solid white;
}


button:hover{
    border: 2px solid white;
    color:hsl(0, 0%, 95%);
}



@media only screen and (max-width:1200px){
    .card{
        padding:20px;
        padding-bottom: 30px;
    }

    .card:first-child{
        padding-right: 20px;
    }

    .title{
        margin: 25px 0;
    }
    .description-wrapper{
        margin-bottom: 15px;
    }
    
    p{font-size: 12px;}

    button{
        margin-bottom: 40px;
        
    }
}



@media only screen and (max-width:420px){
    .card-container{
        display:grid;
        grid-template-columns: 1fr;
        width:80vw;
        
    }

    .card:first-child{
        border-radius: 7px 7px 0px 0px;
    }
    
    
    .card:last-child{
        border-radius: 0px 0px 7px 7px;
    }

    .card{
        height:fit-content;
    }

    p{font-size: 17px;}

    .card{
        padding:50px;
        height:60vh;
    }

    .title{
        margin: 35px 0;
    }

    .description-wrapper{
        margin-bottom: 45px;
    }

    button{
        margin-bottom: 0px;
    }

    .card:first-child{
        padding-right: 40px;
    }

    button{
        margin-bottom: 20px;
        
    }
}

